In [74]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

# from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [58]:
# read in data
house_data = pd.read_csv('kc_house_data.csv')
KChouse_train = pd.read_csv('train.csv')
KChouse_test = pd.read_csv('test.csv')

# ignore the columns id and date, as well as the categorical column zipcode.
house_data = house_data.drop(columns = ['id','zipcode','date'])
KChouse_train = KChouse_test.drop(columns = ['id','zipcode','date'])
KChouse_test = KChouse_test.drop(columns = ['id','zipcode','date'])

In [59]:

KChouse_train.head()
# KChouse_train.min()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,1001,700000.0,4,2.00,1830,4590,2.0,0,0,3,8,1830,0,1908,0,47.6593,-122.327,1650,4590
1,1002,270000.0,3,2.00,1560,8853,1.0,0,0,3,7,1560,0,1967,0,47.4312,-122.171,1610,8750
2,1003,258000.0,4,1.75,1730,8320,1.0,0,0,3,7,1230,500,1977,0,47.3270,-122.361,1840,9800
3,1004,530000.0,3,2.50,1930,7214,2.0,0,0,3,8,1930,0,2005,0,47.7191,-122.309,1930,7266
4,1005,245000.0,3,2.25,1422,3677,2.0,0,0,3,7,1422,0,2012,0,47.3204,-122.178,1677,3677

In [69]:
KChouse_train.corr()['price'].sort_values(ascending=False)

price            1.000000
sqft_living      0.688479
grade            0.622621
sqft_above       0.585753
sqft_living15    0.573482
bathrooms        0.537267
view             0.445281
waterfront       0.330124
sqft_basement    0.317471
bedrooms         0.307211
floors           0.299174
lat              0.246722
yr_renovated     0.082468
sqft_lot15       0.070740
yr_built         0.057185
sqft_lot         0.045240
condition        0.041576
long             0.024070
Unnamed: 0      -0.007521
Name: price, dtype: float64

In [75]:
# correlation = KChouse_train.corr()
# plt.figure(figsize=(14, 12))
# heatmap = sns.heatmap(correlation, annot=True, linewidths=0, vmin=-1, cmap="RdBu_r")

In [77]:
X_train = KChouse_train.drop(['price'], axis=1)
y_train = KChouse_train[['price']]

model = LinearRegression()

scores = cross_val_score(model, X_train, y_train, cv=10)
print("Cross-validation scores: {}".format(scores))
print("Average cross-validation score: {:.2f}".format(scores.mean()))

Cross-validation scores: [0.5733085  0.73067805 0.41798039 0.69413526 0.58123951 0.64348884
 0.58483475 0.67613262 0.69336563 0.5747077 ]
Average cross-validation score: 0.62

In [81]:
data_scaled

array([[-1.73031962,  0.38774154,  0.61971096, ..., -0.83161535,
        -0.49282611, -0.32497811],
       [-1.72685552, -0.66534862, -0.45245333, ...,  0.32371455,
        -0.55042162, -0.17705032],
       [-1.72339142, -0.69473718,  0.61971096, ..., -1.08341802,
        -0.21924741, -0.13971278],
       ...,
       [ 1.72339142, -0.88576284, -0.45245333, ..., -0.00955369,
        -1.34235996, -0.12001278],
       [ 1.72685552, -0.18778448,  0.61971096, ...,  1.31611331,
        -0.26244405, -0.04256405],
       [ 1.73031962,  0.4428451 ,  0.61971096, ...,  0.46442781,
         1.06225281, -0.13615682]])

In [78]:
scaler = StandardScaler() 
data_scaled = scaler.fit_transform(KChouse_train)

In [79]:
print(data_scaled.mean(axis=0))
print(data_scaled.std(axis=0))

[ 0.00000000e+00 -5.86197757e-17  5.32907052e-17  1.55431223e-16
 -1.19015908e-16 -1.77635684e-17 -3.73034936e-17 -2.84217094e-17
 -8.79296636e-17  1.77635684e-16 -4.17443857e-16 -1.06581410e-16
 -1.26121336e-16  1.56319402e-16  1.77635684e-17  2.24460450e-14
 -2.21964669e-14  1.35003120e-16  7.10542736e-18]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [80]:
X_train_scaled = data_scaled.drop(['price'], axis=1)
y_train_scaled = data_scaled[['price']]

model = LinearRegression()

scores = cross_val_score(model, X_train_scaled, y_train_scaled, cv=10)
print("Cross-validation scores: {}".format(scores))
print("Average cross-validation score: {:.2f}".format(scores.mean()))

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

From previous Assignment, we know that sqft_living has highest correlation with response variable (price)

In [60]:
lr = linear_model.LinearRegression()

X_train = np.array(KChouse_train['sqft_living'], dtype=pd.Series).reshape(-1,1)
y_train = np.array(KChouse_train['price'], dtype=pd.Series)

lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:

X_test = np.array(KChouse_test['sqft_living'], dtype=pd.Series).reshape(-1,1)
y_test = np.array(KChouse_test['price'], dtype=pd.Series)

pred = lr.predict(X_test)

In [62]:
rmsesm = float(format(np.sqrt(mean_squared_error(y_test,pred)),'.3f'))

rtrsm = float(format(lr.score(X_train, y_train),'.3f'))

rtesm = float(format(lr.score(X_test, y_test),'.3f'))

# cv = float(format(cross_val_score(lr,df[['sqft_living']],df['price'],cv=5).mean(),'.3f'))

print ("Average Price for Test Data: {:.3f}".format(y_test.mean()))
print('Intercept: {}'.format(lr.intercept_))
print('Coefficient: {}'.format(lr.coef_))

print('Root mean square error:', rmsesm)

print('Root mean square error:', rtrsm)

print('Root mean square error:', rtesm)

# r = evaluation.shape[0]
# evaluation.loc[r] = ['Simple Linear Regression','-',rmsesm,rtrsm,'-',rtesm,'-',cv]
# evaluation

Average Price for Test Data: 541676.554
Intercept: -86805.46777441876
Coefficient: [299.63086032]
Root mean square error: 296138.022
Root mean square error: 0.474
Root mean square error: 0.474

In [63]:
# min max normalize features
min_max_scaler = preprocessing.MinMaxScaler()

In [66]:
KChouse_train = KChouse_train.reset_index(drop=True)

In [67]:
KChouse_train['price'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['price']))
KChouse_train['bedrooms'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['bedrooms']))
KChouse_train['bathrooms'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['bathrooms']))
KChouse_train['sqft_living'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['sqft_living']))
KChouse_train['sqft_lot'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['sqft_lot']))
KChouse_train['floors'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['floors']))
KChouse_train['waterfront'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['waterfront']))
KChouse_train['view'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['view']))
KChouse_train['condition'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['condition']))
KChouse_train['grade'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['grade']))
KChouse_train['sqft_above'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['sqft_above']))
KChouse_train['sqft_basement'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['sqft_basement']))
KChouse_train['yr_built'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['yr_built']))
KChouse_train['yr_renovated'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['yr_renovated']))

KChouse_train['sqft_living15'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['sqft_living15']))
KChouse_train['sqft_lot15'] = min_max_scaler.fit_transform(pd.DataFrame(KChouse_train['sqft_lot15']))

In [68]:
KChouse_train.head()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,1001,0.118483,0.428571,0.333333,0.183620,0.002247,0.5,0.0,0.0,0.5,0.555556,0.221338,0.000000,0.069565,0.0,47.6593,-122.327,0.199226,0.008252
1,1002,0.036967,0.285714,0.333333,0.147952,0.004830,0.0,0.0,0.0,0.5,0.444444,0.178344,0.000000,0.582609,0.0,47.4312,-122.171,0.191489,0.018052
2,1003,0.034692,0.428571,0.291667,0.170410,0.004507,0.0,0.0,0.0,0.5,0.444444,0.125796,0.209205,0.669565,0.0,47.3270,-122.361,0.235977,0.020526
3,1004,0.086256,0.285714,0.416667,0.196830,0.003837,0.5,0.0,0.0,0.5,0.555556,0.237261,0.000000,0.913043,0.0,47.7191,-122.309,0.253385,0.014556
4,1005,0.032227,0.285714,0.375000,0.129723,0.001694,0.5,0.0,0.0,0.5,0.444444,0.156369,0.000000,0.973913,0.0,47.3204,-122.178,0.204449,0.006101